.stats{
    width: 100%;
    background-size: cover;
}

.latest-report{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.total-cases,
.new-cases,
.deaths{
    height: 100px;
    font-weight:bold;
}


.title{
    font-size:1.3eml;
}

.new-cases{
    color:rgb(15, 109, 192)
}
#newcases{
    font-size:3em;
    font-weight:bold;
    color:rgb(15, 109, 192);
}
#totalcases{
    font-size:3em;
    font-weight: bold;
}

.deaths{
    color:red;
}
#newdeaths {
    font-size: 3em;
    font-weight: bold;
    color: red;
}

#chart .modebar-btn {
    background: gainsboro;
}
  
#chart .clicked path{
    fill: rgba(0, 0, 0, 1);
}

