.latest-report {
    margin-top: 3em;
    display: flex;
    text-align: center;
    margin-bottom:3em;
}

.hovered-date, .total-cases, .new-cases, .deaths  {
    width: 25%;
}

#hovereddate, #totalcases, #newcases, #newdeaths {
    font-size: 3em;
    font-weight: bold;
}

.hovered-date {
    color: #ff5733
}

.total-cases {
    color: #309b94
}

.new-cases {
    color: #007cc7
}

.deaths {
    color: #de3163;
}

#chart .modebar-btn {
    background: #12232e;
}

#chart .clicked path {
    fill: rgba(0, 0, 0, 1);
}

#chart .axistext{
    display:none;
}