.latest-report {
    margin-top: 3em;
    display: flex;
    text-align: center;
    margin-bottom:3em;
}

.hovered-date, .total-cases, .new-cases, .deaths  {
    width: 25%;
}

#hovereddate, #totalcases, #newcases, #newdeaths {
    font-size: 3em;
    font-weight: bold;
}

.hovered-date {
    color: brown
}

.total-cases {
    color: darkslategrey
}

.new-cases {
    color: darkblue
}

.deaths {
    color: darkred;
}

#chart .modebar-btn {
    background: gainsboro;
}

#chart .clicked path {
    fill: rgba(0, 0, 0, 1);
}

#chart .axistext{
    display:none;
}